{% extends 'common/base.html' %}
{% block title %}物品详情{% endblock %}
{% block page_content %}
    <h2>{{ good.goodname }}的详情</h2>

    <div class="form-group">
        <br>
        <img class="media-object"style="float:left;padding-right:50px;width: 200px; height: 200px;" src="{{ url_for('static',filename='img/'+ good.icon) }}" alt="...">

                <label for="content">{{ good.goodname }}</label>
                <p>点击量{{ good.viemcount }}次</p>
                <h5 class="media-heading">价格:{{ good.goodprice }}元</h5>
                <h4 class="media-heading">物品简介:</h4>
                <p>{{ good.content }}</p>

    <a href="{{ url_for('goods.docollect',gid = good.id) }}">
        <button type="button" class="btn btn-default">收藏/取消收藏</button>
    </a>
    <button type="button" class="btn btn-default">购买</button>
    </div>

{% endblock %}